
body {
    background-color: lightblue;
  }
  
  header {
    margin-left: 350px;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
  }

  h1 {
      font-size: 20px;
      margin-right: 0px;
      font-size: normal;
      font-weight: normal;
  }

  h2{
      font-size: 20px;
      margin-right: 0px;
      font-size: normal;
      font-weight: normal;
  }

#Progress_Status {
width: 50%;
background-color: #ddd;
}

#progress-bar {
width: 1%;
height: 35px;
background-color: #4CAF50;
text-align: center;
line-height: 32px;
color: red;
}
